/* colors used:
Primary color: rgb(117, 151, 217);
Secondary color: rgba(133, 182, 255, 0.2);
Tertiary color: rgb(231, 240, 255);
Black 700: rgb(51, 51, 51);
Grey 300: rgb (229, 231, 235);
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
  margin: 16px;
}
h1 {
  font-size: 2em;
  font-weight: 900;
}
h2 {
  font-size: 1.8em;
  font-weight: 900;
}
h3 {
  font-size: 1.6em;
  font-weight: 700;
}
h4 {
  font-size: 1.424em;
  font-weight: 600;
}
h5 {
  font-size: 1.26em;
  font-weight: 600;
}
h6 {
  font-size: 1.125em;
  font-weight: 600;
}
p2 {
  font-size: 0.88em;
  font-weight: 400;
  font-style: italic;
}
/* Uppercase */
.uppercase-text {
  text-transform: uppercase;
}

/* Lowercase */
.lowercase-text {
  text-transform: lowercase;
}

/* Underline */
.underline-text {
  text-decoration: underline;
}

img {
  width: 100%;
}

a {
  color: #333333;
  text-decoration: underline;
}

a:hover {
  color: rgb(117, 151, 217);
  text-decoration: underline;
}

a:active {
  color: rgb(50, 99, 197);
  text-decoration: none;
}

/* Layout styling */

.container {
  padding: 0 16px;
}

#header.container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.info-card {
  text-align: center;
  padding: 8px;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#final-prototype.container {
  padding: 16px 0 16px 0;
  border-bottom: 2px solid rgb(117, 151, 217);
  border-top: 2px solid rgb(117, 151, 217);
}

#conclusion.container {
  padding: 0 0 16px 0;
  border-bottom: 2px solid rgb(117, 151, 217);
}

.row {
  margin: 24px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work {
  margin-top: 16px;
  margin-bottom: 32px;
}

#work .row {
  display: flex;
  flex-direction: column-reverse;
  /*border: 1px solid rgb(229, 231, 235);*/
  box-shadow: 0 4px 15px 0 rgb(0, 0, 0, 0.1);
  border-radius: 16px;
}

#work .row > *:last-child {
  order: -1;
}

#work .row > *:last-child {
  padding: 0 16px 16px 16px;
}

#work .row > *:first-child {
  padding: 0;
}

#imgwork {
  border-radius: 16px 16px 0 0;
}

#imgworkelektroplug {
  border-radius: 16px 16px 0 0;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

main {
  padding-top: 68.664px;
}

header {
  padding: 0;
  width: 100%;
  background-color: white;
  position: fixed;
}

.logo {
  max-width: 96px;
  /*min-width: 150; */
}

footer {
  padding: 24px 0;
  background-color: rgb(229, 231, 235, 0.4);
}

/* Add this to your existing CSS */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a:not(a.icon) {
  display: block;
  padding: 10px 0;
  margin: 0;
  font-weight: 500;
  color: #333333;
}

nav a:not(a.icon) {
  text-decoration: none;
  color: #333333; /* Default color */
  transition: color 0.3s; /* Smooth transition effect over 0.3 seconds */
}

nav a:not(a.icon):hover {
  color: rgb(117, 151, 217); /* Color on hover */
  font-weight: 700;
  text-decoration: none;
}

nav a:not(a.icon):active {
  color: rgb(50, 99, 197);
  text-decoration: underline;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 0;
  border-top: 1px solid rgba(133, 182, 255, 0.4);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: rgba(133, 182, 255, 0.2);
  padding: 0px 0;
  display: inline-block;
  width: 100%;
}

.social-media-icon {
  max-width: 24px;
}

.col-sm-12 {
  width: 100%;
}

.media-scroll {
  display: flex;
  overflow: auto;
  gap: 1em;
  background-color: white;
}

.media-scroll img {
  min-width: 186px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 8px 0;
}

.arrow-icon {
  max-width: 40px;
}

.plutopay-hero {
  display: inline-block;
  background-color: #ecf6ff;
}

/*.plutopay-hero img {
    max-width: 700px;
}*/

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 16px 0 16px;
    border-bottom: none;
  }

  nav > ul > li {
    display: inline-block;
    padding: 8px;
    margin: 0 8px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -16px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #work .row {
    flex-direction: row-reverse;
  }

  #work .row > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  /*#work img {
    height: 100%;
    object-fit: cover;
  }*/

  main {
    padding-top: 70.66px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 24px;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  body {
    font-size: 18px;
  }
  #about-page h3 {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .border-container {
    text-align: center;
    padding: 8px;
    margin: 0 16px 0 16px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 8px;
  }

  [class*="col-"] {
    float: left;
    padding: 8px;
  }

  #imgwork {
    border-radius: 0;
  }

  #imgworkelektroplug {
    border-radius: 0;
  }

  .info-card {
    flex-direction: row;
  }
}

/* Large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  h1 {
    font-size: 2.75em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }

  .container {
    padding: 0 32px;
  }
  .plutopay-hero {
    display: inline-block;
    background-color: #ecf6ff;
    padding: 0 72px;
    width: 100%;
  }

  .border-container {
    text-align: center;
    padding: 8px;
    margin: 0 72px 0 72px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 8px;
    max-width: 1200px;
  }
}

/* X-large devices (1440px and larger) */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Styles for the normal state */
.primary-button {
  display: inline-block;
  position: relative;
  color: #333333;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 12px;
}

.primary-button:hover {
  color: rgb(117, 151, 217);
  text-decoration: none;
}

.primary-button::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 12px;
  width: calc(100% - 24px); /* Adjust width as needed */
  height: 2px;
  background-color: #333333;
  text-decoration: none;
  transition: height 0.2s;
}

/* Styles for the hover state */
.primary-button:hover::after {
  height: 6px;
  background-color: rgb(117, 151, 217);
  color: rgb(117, 151, 217);
  text-decoration: none;
}
